/* Algemene stijl */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}

header {
  background: #ffffff;
  padding: 30px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

header nav a {
  color: #c5a572;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}


/* Midden sectie */
.midden {
  background-image: url('image.png');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 100px 20px;
  text-align: center;
}

.midden h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.midden p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  background: #c5a572;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}






.behandelingen-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.behandelingen {
  padding: 10px 10px;
  background: #f9f9f9;
  text-align: center;
}

.behandeling {
  background: #ffffff;
  padding: 80px;
  width: 280px;
  text-align: left;
  color: #000;

}

.behandelingen h1 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #000000;
}


.behandeling h2 {
  color: #000000;
  margin-bottom: 10px;
  font-size: 22px;
}

.behandeling p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.behandeling .prijs {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  margin-bottom: 15px;
}

.behandeling .button {
  text-align: center;
  display: block;
  margin-top: 10px;
}




.team-container{
  object-fit: cover;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team{

    padding: center;
  background: #f9f9f9;
  text-align: center;
}

.ronaldo-foto {
  width: 200px;
  height: auto;
}

.Neymar-foto{
    width: 200px;
  height: auto;
  margin-left: 30px;
}

.corleone-foto{

    width: 200px;
  height: auto;
  margin-left: 30px;
}



/* Footer */
footer {
  background: #c5a572;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

footer p {
  margin: 5px 0 15px 0;
  line-height: 1.5;
  font-size: 18px;
}

/* Responsiveness */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    gap: 15px;
  }
  .midden {
    padding: 80px 15px;
  }
  .midden h1 {
    font-size: 2em;
  }
  .behandelingen-container {
    flex-direction: column;
    align-items: center;
  }
  .behandeling {
    width: 90%;
  }
}
