/* Algemene stijl */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff; /* wit als basis */
  color: #333;
  text-align: center;
}

/* Header */
header {
  background: #ffffff;
  padding: 40px 20px;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

header nav a {
  color: #c5a572;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}


/* Midden sectie */
.midden {
 background-image:url(image.png) ;
 background-size: cover;
 background-position: center;
  color: #ffffff;
  padding: 100px 20px;
  min-height: 50px;
}

.midden h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.midden p {
  font-size: 1.2em;
  margin-bottom: 30px;
}


.button {
  display: inline-block;
  background: #c5a572; /* licht bruin */
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.midden2{
  padding: 100px 20px;
 color:  #b32929;


}

.midden2 h2{
  padding-right: 800px;
  color:  #000000;
    font-size: 30px;
 
}

.midden2 h1{

  padding-right: 800px ;
   color: #000000; 
     font-size: 50px;
}

.midden2 h3{

   color:  #000000; 
     padding-right: 800px;
     bottom: 500px;
}


.behandelingen {
  padding: 80px 20px;
  background: #f5f5f5;
  color: #333;
  text-align: center;
}

.behandelingen h1 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #000000;
}

.behandelingen-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.behandeling {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  color: #000;
}

.behandeling h2 {
  margin-bottom: 10px;
  color: #c5a572;
}

.behandeling p {
  font-size: 16px;
  line-height: 1.4;
}

/* Responsiveness */
@media (max-width: 768px) {
  .behandelingen {
    padding: 50px 15px;
  }

  .behandeling {
    width: 80%;
    margin-bottom: 20px;
  }

  .behandelingen h1 {
    font-size: 30px;
  }
}



footer {
  background: #c5a572;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

footer p {
  margin: 5px 0 15px 0;
  line-height: 1.5;
  font-size: 18px;
}






/* Responsiveness midden */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    gap: 15px;
  }

  .midden {
    padding: 80px 15px;
  }

  .midden h1 {
    font-size: 2em;
  }
}



/* Responsiveness midden2 */
@media (max-width: 768px) {
  .midden2 {
    padding: 50px 15px;
  }

  .midden2 h1, .midden2 h2, .midden2 h3 {
    padding-right: 0;
    text-align: center;
  }
}

