/* Algemene stijl */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff; /* wit als basis */
  color: #333;
  text-align: center;
}

/* Header */
header {
  background: #ffffff;
  padding: 40px 20px;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

header nav a {
  color: #c5a572;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}


/* Midden sectie */
.midden {
 background-image:url(afbeeldingen/image.png) ;
 background-size: cover;
 background-position: center;
  color: #ffffff;
  padding: 100px 20px;
  min-height: 60vh;
}

.midden h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.midden p {
  font-size: 1.2em;
  margin-bottom: 30px;
}


.button {
  display: inline-block;
  background: #c5a572; /* licht bruin */
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}



/* Footer *//* Footer */
footer {
  background: #c5a572;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

footer p {
  margin: 5px 0 15px 0;
  line-height: 1.5;
  font-size: 18px;
}






/* Responsiveness */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    gap: 15px;
  }

  .midden {
    padding: 80px 15px;
  }

  .midden h1 {
    font-size: 2em;
  }
}
